
@{
    ViewData["Title"] = "Correct";
}



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="https://cdn2.vectorstock.com/i/1000x1000/83/66/music-contest-stage-with-guitar-and-microphone-vector-27188366.jpg" class="img-thumbnail"/>

        </div>
        <div class="col-md-6">

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Contestants" asp-action="Index">Register</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Judges" asp-action="Index">Judge </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Competitions" asp-action="Index">Competition </a>
            </li>


        </div>
    </div>
</div>
