
@{
    ViewData["Title"] = "Wrong";
}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="https://cdn2.vectorstock.com/i/1000x1000/83/66/music-contest-stage-with-guitar-and-microphone-vector-27188366.jpg" class="img-thumbnail" />

        </div>
        <div class="col-md-6">
            <h1>Invlaid User Name or Password   </h1>
            <a href="@Url.Action("Create","Organizers")">Login Now Again </a>

        </div>
    </div>
</div>

