@{
    ViewData["Title"] = "Home Page";
}




<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="https://cdn2.sportngin.com/attachments/photo/1011/6070/Name_the_team_contest-_800x450_large.png" class="card-img-top"/>
            <br/>
            <p class="text-black-50">
                Music Box is an international online competition for instrumental performers from around the world. The contest is held in 2 rounds to select the best of the best musicians. Participate in the prestigious International Online Instrumental Music Box Contest and receive comments and video recommendations for your performance from international experts. The Grand Prize winners of the Music Box competition receive 2 main prizes at once – Participation in the full-time competition in Spain at the expense of the organizer (Accommodation, meals and participation) and the right to an individual online master class with one of our experts as a jury.
                <br/>
                The organizers of the competition are:<br/>
                Fiestalonia International (UK) is an international production center for talented performers.<br/>
                Fiestalonia Milenio (Spain) is the leading organizer of festivals and competitions in Europe.<br/>
            </p>
        </div>
        

    </div>

</div>